.default-selectbox-container,
.custom-selectbox-container {
  position: relative;
  display: inline-block;
}

/* 기본 셀렉트 박스 */
.default-selectbox.select-language {
  position: relative;
  width: 113px;
  height: 40px;
  background: transparent;
  border: 1px solid var(--gray-500);
  border-radius: 2px;
  appearance: none;
  color: var(--gray-500);
  line-height: 1.2;
  text-align: center;
}
.default-selectbox-container::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../../images/svg/global.svg") no-repeat 8px 50%;
  pointer-events: none;
}

.default-selectbox-container::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../../images/svg/drop-down.svg") no-repeat 93% 50%;
  pointer-events: none;
}

/* 커스텀 셀렉트박스(js 사용) */
.custom-selectbox.select-language {
  position: relative;
  width: 113px;
  height: 40px;
  background: transparent;
  border: 1px solid var(--gray-500);
  border-radius: 2px;
  color: var(--gray-500);
  line-height: 1.2;
}
.custom-selectbox.select-language::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../../images/svg/global.svg") no-repeat 8px 50%;
  pointer-events: none;
}
.custom-selectbox.select-language::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../../images/svg/drop-down.svg") no-repeat 93% 50%;
  pointer-events: none;
}
.option-list {
  width: 120px;
  height: 86px;
  overflow: hidden;
  border-radius: 12px;
  opacity: 0.96;
  background: var(--gray-100);
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.008px;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  position: absolute;
  top: -5px;
  left: 5px;
  display: none;
}
.option-item {
  cursor: pointer;
  user-select: none;
  padding: 5px;
}
.option-item:hover {
  background-color: var(--gray-200);
}

/* 선택 체크 표시 상태 */
.option-item.is--select::before {
  content: "✔ ";
}
/* 커스텀 드롭다운 메뉴 상태 */
.is--active {
  display: flex;
}

@media (max-width: 768px) {
  .default-selectbox.select-language,
  .custom-selectbox.select-language {
    height: 30px;
  }
}
