.buttons-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  row-gap: 30px;
}

.button {
  display: inline-block;
  background-color: var(--red-500, #e50914);
  border: 0;
  color: var(--white, #fff);
  font-weight: 700;
  transition: all 0.3s;
}
.button:hover,
.button:focus {
  background-color: var(--red-600, #b70710);
}
.button:focus {
  box-shadow: 0 0 0 3px var(--green-400, #58e590);
  outline: none;
  transition: none;
}
.button:disabled {
  background-color: var(--gray-500, #0071eb);
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .login-button {
    font-size: var(--text-x-small-bold, 1.2rem);
    line-height: 1.5;
    letter-spacing: -0.006px;
    padding: 0.5em 1.083em;
    border-radius: 4px;
  }
  .submit-button {
    width: 160px;
    height: 40px;
    font-size: var(--text-small-bold, 1.4rem);
    line-height: 1.5;
    letter-spacing: -0.007px;
    border-radius: 30px;
    background-image: url("../../images/svg/arrow-stroke.svg");
    background-repeat: no-repeat;
    background-position: 87% 50%;
    & span {
      display: inline-block;
      padding-right: 35px;
    }
  }
}

@media (min-width: 768px) {
  .login-button {
    font-size: var(--text-normal-bold, 1.6rem);
    line-height: 1.5;
    letter-spacing: -0.008px;
    padding: 0.5em 0.781em;
    border-radius: 4px;
  }
  .submit-button {
    width: 210px;
    height: 60px;
    font-size: var(--title-x-small, 2.2rem);
    line-height: 1.2;
    background-image: url("../../images/svg/arrow-stroke.svg");
    background-repeat: no-repeat;
    background-position: 87% 50%;
    & span {
      display: inline-block;
      padding-right: 35px;
    }
  }
}
