<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/styles.css" />
    <title>버튼 컴포넌트</title>
  </head>
  <body>
    <h1>버튼 컴포넌트</h1>
    <div class="buttons-container">
      <div>
        <a class="button login-button" href="#">로그인</a>
      </div>

      <div>
        <button class="button submit-button" type="submit"><span>30일 무료 이용</span></button>
      </div>
    </div>
  </body>
</html>
