<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/styles.css" />
    <title>로고 컴포넌트</title>
  </head>
  <body>
    <h1>로고 컴포넌트</h1>
    <div class="component-container">
      <h1>
        <a href="#">
          <picture>
            <source srcset="../../images/logo-mobile.png 1x, ../../images/logo-mobile@2x.png 2x, ../../images/logo-mobile@3x.png 3x, ../../images/logo-mobile@4x.png 4x" media="(max-width: 768px)" />
            <source srcset="../../images/logo.png 1x, ../../images/logo@2x.png 2x, ../../images/logo@3x.png 3x, ../../images/logo@4x.png 4x" media="(min-width: 768px)" />
            <img src="../../images/Logo.png" alt="넷플릭스" />
          </picture>
        </a>
      </h1>
    </div>
  </body>
</html>
