<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../css/styles.css" />
    <title>인풋 컴포넌트</title>
  </head>
  <body>
    <h1>인풋 컴포넌트</h1>
    <div class="inputs-container">
      <div class="input-container">
        <input class="input" type="email" name="userEmail" id="userEmail" placeholder=" " pattern="^[0-9a-zA-Z]+@[0-9a-zA-Z]+\.[a-z]{2,}$" required />
        <label class="label" for="userEmail">이메일 주소</label>
        <span class="error-msg">이메일 입력 방법이 잘못되었습니다. (예: user@domain.io)</span>
      </div>
    </div>
  </body>
</html>
